@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100 900;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv05', 'cv08', 'cv09', 'cv10';
  font-display: swap;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100 900;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv05', 'cv08', 'cv09', 'cv10';
  font-display: swap;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
}
@font-face {
  font-family: 'Sofia Sans';
  font-weight: 100 900;
  font-style: normal;
  size-adjust: 110%;
  src:  local('Sofia Sans'),
  url("../fonts/SofiaSans.ttf") format("truetype");
}
@font-face {
  font-family: 'Sofia Sans';
  font-weight: 100 900;
  font-style: italic;
  size-adjust: 110%;
  src:  local('Sofia Sans Italic'),
  url("../fonts/SofiaSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Fira Code';
  font-weight: 300 700;
  src: url("../fonts/FiraCode.woff2") format("woff2");
}

:root {
  --font-head: 'Sofia Sans', 'Nimbus Sans', 'Helvetica Neue', 'Helvetica', 'Sans', sans-serif;
  --font-weight-head-thin: 100;
  --font-text: 'Inter', 'Nimbus Sans', 'Helvetica Neue', 'Helvetica', 'Sans', sans-serif;
  --font-weight-text-regular: 300;
  --font-weight-text-semibold: 500;
  --font-weight-text-bold: 700;
  --font-mono: 'Fira Code', monospace;
  --font-weight-code-regular: 360;
  --font-weight-code-semibold: 480;
  --font-weight-code-bold: 600;

  /* solarized colors */
  --color-base03:     #002b36;
  --color-base02:    #073642;
  --color-base01:    #586e75;
  --color-base00:    #657b83;
  --color-base0:     #839496;
  --color-base1:     #93a1a1;
  --color-base2:     #eee8d5;
  --color-base3:     #fdf6e3;
  --color-yellow:    #b58900;
  --color-orange:    #cb4b16;
  --color-red:       #dc322f;
  --color-magenta:   #d33682;
  --color-violet:    #6c71c4;
  --color-blue:      #268bd2;
  --color-cyan:      #2aa198;
  --color-green:     #859900;

  font-family: var(--font-text);
  font-size: 16px;
  font-weight: var(--font-weight-text-regular);
  line-height: 1.4667;

  background: #1e181e;
}

html, body {
  height: 100%;
  width: auto;
}

html {
  color: #f4f4ec;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
}

h4 {
  font-weight: var(--font-weight-text-semibold);
}

main {
  animation: fadein 1s;
  margin-right: 20px;
  padding-top: 32px;
}

/* --- links --- */

a:link,
a:visited {
  color: #565553;
  text-decoration: none;
  transition: background-color .15s linear, color .15s linear;
}

a:hover {
  color: #3c3c3b;
}

/* -- content --- */

.container {
  position: relative;
  width: auto;
}

.example {
  animation: fadein 1s;
  padding-top: 0;
  padding-bottom: 32px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.example::-webkit-scrollbar {
  display: none;
}

/* --- nav --- */

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  animation: fadein 1.5s;
}

nav .link,
nav .linkFar {
  font-family: var(--font-head);
  letter-spacing: -3px;
}

.link, .linkFar, .linkDocs {
  font-size: 60px;
  line-height: 60px;
  display: block;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-timing-function: linear, linear;
  color: rgb(106, 105, 103);
  font-weight: 100;
  letter-spacing: -2px;
  list-style-position: outside;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
  transition-property: background-color, color;
  transition-timing-function: linear, linear;
}

.link a, .linkFar a, .linkDocs a {
  color: rgb(166, 165, 163);
}


.link a:hover {
  color: #bbbb44;
}

.linkFar a:hover {
  color: #2dc6ad;
}

.linkDocs a:hover {
  color: #aaaa33;
}

/* ------------------- */

@media only screen and (max-width: 885px) {
  .link, .linkFar, .linkDocs
  {
    font-size: 60px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 720px) {
  .link, .linkFar, .linkDocs
  {
    font-size: 50px;
    line-height: 50px;
  }
}


@media only screen and (max-width: 475px) {
  .link, .linkFar, .linkDocs{
    font-size: 50px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 320px) {
  .link, .linkFar, .linkDocs{
    font-size: 32px;
    line-height: 32px;
  }
}

/* --- index --- */

.entry {
  animation: fadein 2s;
  display: inline-block;
  border-left: 1px solid #444;
  height: 70px;
  margin-top: -1px;
  width: 250px;
  margin-left: -1px;
  font-size: 14px;
  transition: .15s;
}

.entry:hover {
  color: #ccc;
  border-left: 1px solid #777;
  margin-left: -1px;
  background-color: #3a3a3a;
}

.topSpace {
  padding-top: 180px;
}

.leftSpace {
  margin-left: 100px;
}

.pageHeader {
  padding-bottom: 32px;
}

.pageHeader a {
  color: rgb(244, 244, 236);
}

.pageHeader a:hover {
  color: #aaa;
}

.pageTitle {
  text-transform: lowercase;
  display: block;
  font-family: var(--font-head);
  font-size: 70px;
  font-weight: var(--font-weight-head-thin);
  letter-spacing: -2px;
  line-height: 35px;
}

.pageSubtitle {
  color: rgb(244, 244, 236);
  font-size: 15px;
  line-height: 15px;
  display: block;
  font-weight: 350;
  margin-top: 18px;
  margin-bottom: 22px;
}

@media only screen and (max-width: 720px) {
  .pageTitle {
    font-size: 60px;
    line-height: 30px;
  }

  .pageSubtitle {
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px;
  }

  .topSpace {
    padding-top: 50px;
  }

  .leftSpace {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 475px) {
  .pageTitle {
    font-size: 50px;
    line-height: 25px;
  }

  .pageSubtitle {
    font-size: 15px;
    line-height: 15px;
  }

  .topSpace {
    padding-top: 30px;
  }

  .leftSpace {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .pageTitle {
    font-size: 32px;
    line-height: 16px;
  }

  .pageSubtitle {
    font-size: 14px;
    line-height: 10px;
  }

  .topSpace {
    padding-top: 30px;
  }

  .leftSpace {
    padding-left: 20px;
  }
}

/* --- fade in --- */

@keyframes fadein {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeout {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.section {
  animation: fadein 1s;
  padding-top: 40px;
  padding-bottom: 40px;
}

.moreLink a {
  color: white;
  font-weight: var(--font-weight-text-semibold);
}

.moreLink a:hover {
  color: #ccc;
}

.items {
  white-space: nowrap;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 25px;
  line-height: 21px;
}

/* --- chunk --- */

.chunk {
  width: auto;
  margin-bottom: 20px;
  animation: fadein 1.5s;
}

.chunkLeft {
  vertical-align: top;
  display: inline-block;
  width: 110px;
  text-align: right;
  padding-right: 10px;
  font-weight: var(--font-weight-text-bold);
}

.chunkRight {
  display: inline-block;
  padding-left: 13px;
  border-left: 1px solid #666;
  vertical-align: top;
}

.status > .chunkLeft {
  font-weight: initial;
  width: 140px;
}

@media only screen and (max-width: 475px) {
  .text {
    margin-top: 30px;
  }

  .items {
    margin-top: 10px;
    margin-left: 0px;
  }

  .chunkLeft {
    display: block;
    text-align: left;
    width: auto;
  }

  .chunkRight {
    margin-top: 10px;
    padding-left: 10px;
    width: auto;
    white-space: normal;
    border-left: 2px solid #555;
  }

  .wrapper {
    display: inline-block;
    border: 0 solid #f00;
    white-space: normal;

  }
}

.toc {
  display: flex;
  flex-direction: row;
  margin-bottom: 4em;
}
.toc .h1 { margin-left: 0 }
.toc .h2 { margin-left: 1em }
.toc .h3 { margin-left: 2em }
.toc .h4 { margin-left: 3em }
#toc-lang {
  margin-right: 10em;
}

.description a:link {
  color: #aaa;
}

.description a:visited {
  color: #aaa;
}

.description a:hover {
  color: #ddd;
}


#changes table {
  border-collapse: collapse;
  margin-bottom: 32px;
}

#changes th {
  padding: 4px  0 16px 0;
}

#changes td {
  padding-bottom: 6px;
}

#changes td:first-child {
  font-style: italic;
}

#changes th:first-child,
#changes td:first-child {
  text-align: right;
  vertical-align: top;
  border-right: 1px solid #666;
  width: 110px;
  padding-right: 14px;
}

#changes th:last-child,
#changes td:last-child {
  padding-left: 12px ;
}

.label {
  font-weight: var(--font-weight-text-bold);
  font-size: 11px;
  color: #777;
  padding: 0 1px 1px 1px;
  border: 2px solid #666;
  border-radius: 4px;
}

.period {
  transition: all 6s;
  color: black;
}

code, pre {
  color: var(--color-base3);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-code-regular);
}

.core-keyword {
  color: var(--color-yellow);
}

.core-type {
  font-weight: var(--font-weight-code-bold);
}

.core-member {
  color: var(--color-orange);
}

.core-literal {
  color: var(--color-green);
}

.core-interp {
  font-style: italic;
}

.core-comment {
  color: var(--color-cyan);
}

.code {
  color: #ddd;
  font-family: var(--font-mono);
  font-weight: var(--font-weight-code-regular);
  line-height: 22px;
  margin-bottom: 40px;
  margin-left: 30px;
  white-space: pre-wrap;
}

.result {
  display: inline-block;
  color: #99c;
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
}

.result::before {
  content: '--> ';
}

.explanation {
  display: inline-block;
  color: #99c;
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
}

.explanation::before {
  content: '// ';
}

